.footer{
    padding: 6%;
    font-size: 1.5rem;
    background: rgb(6,6,6);
background: linear-gradient(180deg, rgba(6,6,6,1) 0%, rgba(20,22,24,1) 57%, rgba(20,20,20,1) 100%);
color: dimgray;
}

.logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    margin-bottom: 2%;
  }

  .bottom{
      background-color: black;
      color: aliceblue;
      justify-content: space-around;
  }